@import "../../assets/styles/config.css";

.heading {
  text-align: center;

  & h1 {
    border-bottom: none;
    margin: 8rem 0 5rem;
    padding: 0;
  }
}

.download {
  text-align: center;
  padding-bottom: 8rem;

  & a {
    color: var(--white);
    text-decoration: none;
  }

  & a:first-child {
    display: inline-block;
  }

  & a:last-child {
    display: none;
  }
}

@media (--smaller-viewport) {
  .download {
    & a:first-child {
      display: none;
    }

    & a:last-child {
      display: inline-block;
    }
  }
}
