@import '../../../assets/styles/config.css';

.btn {
  height: 5rem;
  padding: 0 4rem;
  line-height: normal;
  color: var(--white);
  background: color(var(--black) tint(20%));
  border: none;
  cursor: pointer;

  & .btnTxt {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-size: 1.75rem;
  }

  &.allCaps {
    & .btnTxt {
      text-transform: uppercase;
    }
  }

  &.medium {
    height: 4rem;
    padding: 0 2rem;

    & .btnTxt {
      height: 2.75rem;
      font-weight: 600;
      font-size: 1.625rem;
    }
  }

  &.small {
    height: 3rem;
    padding: 0 2rem;

    & .btnTxt {
      height: 2.75rem;
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  &:hover {
    background: var(--black);
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background: color(var(--black) tint(20%));
    color: color(var(--white) shade(10%));
    cursor: auto;

    &:hover {
      background: color(var(--black) tint(20%));
      color: color(var(--white) shade(10%));
    }
  }

  &.primary {
    background: var(--blue);

    &:hover {
      background: color(var(--blue) tint(20%));
    }
  }

  &.secondary {
    background: var(--white);
    border: 1px solid var(--black);
    color: var(--black);

    &:hover {
      background: var(--black);
      color: var(--white);
    }
  }
}
