@import "../../../assets/styles/config.css";

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text);
  cursor: pointer;

  & .text {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;

    &.l {
      margin-left: 1rem;
    }

    &.r {
      margin-right: 1rem;
    }
  }

  &:hover {
    & .text {
      text-decoration: underline;
    }
  }
}
