@import "../assets/styles/config.css";

.root {
  & .headerImage {
    height: 150px;
    position: relative;
    overflow: hidden;
    margin-top: 60px;
  }

  & .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color(var(--blue) alpha(0.28));
  }

  & h1 {
    color: color(var(--text) tint(20%));
    font-size: 36px;
    font-weight: 600;
    text-transform: none;
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 2rem;
  }

  & .postBody {
    & h1 {
      font-size: 2rem;
      color: color(var(--text) tint(20%));
      text-transform: none;
      border-bottom: none;
      padding-bottom: 0;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    & h2 {
      font-size: 1.75rem;
    }

    & h3 {
      font-size: 1.5rem;
      text-transform: none;
      font-weight: 700;
    }

    & p {
      line-height: 1.7;
    }

    & a {
      color: var(--blue);
      text-decoration: none;

      &:hover {
        color: color(var(--blue) shade(20%));
      }
    }

    & img {
      max-width: 700px;
      margin: 6rem auto;
      display: block;
      width: 100%;
    }

    & blockquote {
      line-height: 1.7;
      border-left: 5px solid color(var(--text) tint(80%));
      margin: 2rem 4rem;
      padding: 1rem 1rem 1rem 2rem;

      & p {
        margin: 0;
      }
    }
  }

  & .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    & .tag {
      background: var(--blue);
      border-radius: 1000px;
      color: var(--white);
      font-size: 14px;
      font-weight: 600;
      margin-right: 2rem;
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
    }
  }
}

@media (--tiny-viewport) {
  .root {
    & .postBody {
      & h1 {
        font-size: 3rem;
      }

      & h2 {
        font-size: 2.5rem;
      }

      & h3 {
        font-size: 2rem;
      }
    }
  }
}
