@import '../assets/styles/config.css';

.root {
  & .headerImage {
    height: 150px;
    position: relative;
    overflow: hidden;
    margin-top: 60px;
  }

  & .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color(var(--blue) alpha(0.28));
  }

  & h1 {
    color: var(--text);
    font-size: 5rem;
    font-weight: 700;
    text-transform: none;
    border-bottom: none;
    padding-bottom: 0;
    margin: 3.25rem 0;
  }

  & .details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2rem 3rem;

    & .author {
      font-weight: 600;
      color: var(--blue);
      font-size: 2.5rem;
    }
  }

  & .postBody {
    margin-top: 6rem;

    & h1 {
      font-size: 3.75rem;
      color: color(var(--text) tint(0%));
      text-transform: none;
      border-bottom: none;
      padding-bottom: 0;
      margin-top: 5rem;
      margin-bottom: 1rem;
    }

    & h2 {
      font-size: 3.25rem;
      font-weight: 700;
      margin-top: 5rem;
      margin-bottom: 1rem;
    }

    & p {
      font-family: 'Lora', Helvetica, Arial, sans-serif;
      line-height: 1.7;
      margin-top: 0;
      margin-bottom: 5rem;

      & strong {
        font-weight: 700;
      }
    }

    & a {
      color: var(--blue);
      text-decoration: none;

      &:hover {
        color: color(var(--blue) shade(20%));
      }
    }

    & img {
      max-width: 700px;
      margin: 5rem auto;
      display: block;
      width: 100%;
    }

    & blockquote {
      line-height: 1.7;
      border-left: 5px solid color(var(--text) tint(80%));
      margin: 2rem 4rem;
      padding: 1rem 1rem 1rem 2rem;

      & p {
        margin: 0;
      }
    }

    & ul {
      margin-bottom: 5rem;

      & li {
        margin-bottom: 2rem;
      }
    }

    & ol {
      margin-bottom: 5rem;

      & li {
        margin-bottom: 2rem;
      }
    }
  }

  & .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;

    & .tag {
      background: var(--blue);
      border-radius: 1000px;
      color: var(--white);
      font-size: 14px;
      font-weight: 600;
      margin-right: 2rem;
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
    }
  }
}

@media (--tiny-viewport) {
  .root {
    & .postBody {
      & h1 {
        font-size: 3.75rem;
      }

      & h2 {
        font-size: 3.25rem;
      }

      & h3 {
        font-size: 2rem;
      }
    }
  }
}
