<footer id="Footer" class="clearfix">
  <div class="widgets_wrapper">
    <div class="container">
      <div class="column one">
        <!-- Text Area -->
        <aside class="widget widget_text">
          <div class="textwidget">
            <p style="font-size: 32px; line-height: 32px; margin: 0; text-align: center;">
              <a href="#"><i class="icon-facebook-circled"></i></a><a href="#"><i class="icon-gplus-circled"></i></a><a href="#"><i class="icon-twitter-circled"></i></a><a href="#"><i class="icon-pinterest-circled"></i></a><a href="#"><i class="icon-linkedin-circled"></i></a>
            </p>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <!-- Footer copyright-->
  <div class="footer_copy">
    <div class="container">
      <div class="column one">
        <a id="back_to_top" class="button button_left button_js hide" href="#"><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
        <div class="copyright">
          &copy; 2017 BeProfile - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="http://bit.ly/1M6lijQ">BeantownThemes</a>
        </div>
        <!--Social info area-->
        <ul class="social"></ul>
      </div>
    </div>
  </div>
</footer>
