<div id="Top_bar">
  <div class="container">
    <div class="column one">
      <div class="top_bar_left clearfix">
        <!-- Logo-->
        <div class="logo">
          <a id="logo" href="/" title="BeProfile - BeTheme"> <img class="scale-with-grid" src="/images/mct-logo.svg" alt="BeProfile - BeTheme" /></a>
        </div>
        <!-- Main menu-->
        <div class="menu_wrapper">
          <nav id="menu" class="menu-main-menu-container">
            <ul id="menu-main-menu" class="menu">
              <li id="menu-item-2196" class="scroll menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                <a href="/#Wrapper"><span>HOME</span></a>
              </li>
              <li id="menu-item-2197" class="scroll menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                <a href="/#about"><span>ABOUT</span></a>
              </li>
              <li id="menu-item-2198" class="scroll menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                <a href="/#achievements"><span>ACHIEVEMENTS</span></a>
              </li>
              <li id="menu-item-2199" class="scroll menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                <a href="/#work"><span>WORK</span></a>
              </li>
              <li id="menu-item-2200" class="scroll menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                <a href="/#skills"><span>SKILLS</span></a>
              </li>
              <li id="menu-item-2201" class="scroll menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                <a href="/#contact"><span>CONTACT ME</span></a>
              </li>
            </ul>
          </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
        </div>
        <!-- Secondary menu area - only for certain pages -->
        <div class="secondary_menu_wrapper"></div>
        <!-- Banner area - only for certain pages-->
        <div class="banner_wrapper"></div>
        <!-- Header Searchform area-->
        <div class="search_wrapper">
          <form method="get" id="searchform" action="#">

            <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
            <input type="submit" class="submit flv_disp_none" value="" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
