@import "../../assets/styles/config.css";

.barContainer {
  & .title {
    display: flex;
    align-items: center;

    & h4 {
      flex: 1;
      margin: 2rem 0;
    }

    & div {
      background: color(var(--text) tint(90%));
      color: var(--text);
      border-radius: 2px;
      font-size: 1.75rem;
      padding: 0.5rem;
      width: 50px;
      text-align: right;
    }
  }

  & .bar {
    position: relative;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 0;
    top: 0;
    background: color(var(--text) tint(90%));
    border-radius: 999rem;

    & .scale {
      position: absolute;
      height: 10px;
      border-radius: 999rem;
      left: 0;
      bottom: 0;
      top: 0;
      transition: all 0.75s ease;
      background: var(--blue);
    }
  }
}

.circle {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  & .stat {
    max-width: 140px;
  }
}

@media (--mobile-viewport) {
  .circle {
    display: inline-block;
  }
}
