@import "../../../assets/styles/config.css";

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: var(--blue);
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  animation: outT 0.8s backwards;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  animation: outM 0.8s backwards;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  animation: outBtm 0.8s backwards;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  animation: inBtm 0.8s forwards;
}

.menu {
  display: block;
  position: fixed;
  top: 60px;
  right: -300px;
  z-index: 1050;
  height: 100vh;
  background: white;
  width: 300px;
  transition: all 400ms ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  opacity: 0.97;

  &.active {
    right: 0;
  }
}

.link {
  text-align: center;
  display: block;
  padding: 10px;
  background: white;
  cursor: pointer;

  &:hover {
    background: color(#fff shade(2%));
  }
}

.backdrop {
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: color(var(--white) shade(40%));
  opacity: 0;
  transition: all 0.3s ease;

  &.active {
    visibility: visible;
    opacity: 0.5;
  }
}

@media (--small-viewport) {
  .link {
    display: flex;
  }

  .navTrigger {
    display: none;
  }

  .backdrop {
    display: none;
  }

  .menu {
    display: none;
  }
}

@keyframes inM {
  50% { transform: rotate(0deg); }
  100% { transform: rotate(45deg); }
}

@keyframes outM {
  50% { transform: rotate(0deg); }
  100% { transform: rotate(45deg); }
}

@keyframes inT {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(9px) rotate(0deg); }
  100% { transform: translateY(9px) rotate(135deg); }
}

@keyframes outT {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(9px) rotate(0deg); }
  100% { transform: translateY(9px) rotate(135deg); }
}

@keyframes inBtm {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-9px) rotate(0deg); }
  100% { transform: translateY(-9px) rotate(135deg); }
}

@keyframes outBtm {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-9px) rotate(0deg); }
  100% { transform: translateY(-9px) rotate(135deg); }
}
