@import '../assets/styles/config.css';

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  z-index: 500;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & .four {
    font-size: 8rem;
    font-weight: 700;
    color: var(--blue);
  }

  & .page {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text);
    width: 15rem;
    margin-left: 2rem;
  }
}

.link {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text);
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 3rem;

  &:hover {
    text-decoration: underline;
  }
}

.flask {
  width: 197px;
  height: 230px;
  margin: 0 auto;
  position: relative;
}

.flask svg {
  width: 200px;
  height: 230px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.flask .background {
  width: 197px;
  height: 100px;
  background-color: var(--blue);
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  animation: liquid 3s infinite;
}

.bubble {
  width: 40px;
  height: 40px;
  background: var(--blue);
  border-radius: 40px;
  position: absolute;
  top: 180px;
}

@keyframes liquid {
  0% {
    height: 100px;
  }

  10% {
    height: 97px;
  }

  35% {
    height: 100px;
  }

  50% {
    height: 102px;
  }

  80% {
    height: 98px;
  }

  100% {
    height: 100px;
  }
}

@keyframes bubble {
  0% {
    top: 200px;
  }

  100% {
    top: -200px;
    opacity: 0;
  }
}

@keyframes side {
  0% {
    margin-right: 0;
  }

  100% {
    margin-right: 35px;
  }
}

.b1,
.b2,
.b3 {
  right: 60px;
  transform: scale(0.4);
  opacity: 0.6;
  animation: bubble 8s linear infinite, side 2s ease-in-out infinite alternate;
}

.b2 {
  right: 65px;
  transform: scale(0.5);
  animation-delay: 2s, 0s, 2s;
}

.b3 {
  right: 70px;
  animation: bubble 10s linear infinite, side 3s ease-in-out infinite alternate;
  animation-delay: 5s, 0s, 5s;
}

.b4,
.b5 {
  right: 65px;
  transform: scale(0.5);
  opacity: 0.8;
  animation: bubble 16s linear infinite, side 5s ease-in-out infinite alternate;
  animation-delay: 4s, 0s, 4s;
}

.b5 {
  right: 55px;
  animation-delay: 5s, 0s, 5s;
}

.b6,
.b7,
.b8 {
  right: 65px;
  transform: scale(0.6);
  opacity: 0.4;
  animation: bubble 14s linear infinite, side 3s ease-in-out infinite alternate;
  animation-delay: 9s, 0s, 9s;
}

.b7 {
  right: 70px;
  transform: scale(0.7);
  animation-delay: 3s, 0s, 3s;
}

.b8 {
  right: 65px;
  animation-delay: 7s, 0s, 7s;
}

.b9,
.b0 {
  right: 70px;
  transform: scale(0.65);
  opacity: 0.7;
  animation: bubble 20s linear infinite, side 5s ease-in-out infinite alternate;
}

.b0 {
  right: 60px;
  animation-delay: 13s, 0s, 13s;
}

.swirl {
  width: 20px;
  height: 20px;
  background: var(--blue);
  border-radius: 20px;
  position: absolute;
  top: 140px;
  left: 80px;
}

@keyframes swirl {
  0% {
    top: 140px;
  }

  100% {
    top: 128px;
  }
}

.s0 {
  animation: swirl 1s ease-in-out infinite alternate;
}

.s1 {
  left: 100px;
  transform: scale(1.2);
  animation: swirl 2s ease-in-out infinite alternate;
  animation-delay: 0s, 2s;
}

.s2 {
  left: 40px;
  transform: scale(0.8);
  animation: swirl 2s ease-in-out infinite alternate;
  animation-delay: 0s, 3s;
}

.s3 {
  left: 60px;
  transform: scale(1.4);
  animation: swirl 1s ease-in-out infinite alternate;
  animation-delay: 0s, 5s;
}

.s4 {
  left: 120px;
  animation: swirl 2s ease-in-out infinite alternate;
  animation-delay: 0s, 3s;
}

.s5 {
  left: 135px;
  transform: scale(0.8);
  animation: swirl 1s ease-in-out infinite alternate;
  animation-delay: 0s, 2s;
}
