@import "../assets/styles/config.css";

.hex {
  float: left;
  margin-right: 1rem;
  position: relative;

  & .profile {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 73%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.workContainer {
  position: relative;
  width: 100%;
  display: block;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.parallax {
  background-image: url("../../images/parallax-7.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 30px;
}

.contact {
  background: var(--blue);
  padding: 8rem 0;

  & h1 {
    color: var(--white);
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 5rem;
    padding: 0;
    text-align: center;
  }
}

@media (--smaller-viewport) {
  .workContainer {
    display: flex;
  }
}
