@import "../assets/styles/config.css";

.workContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 5rem;
  margin-top: 5rem;
  position: relative;
  width: 100%;
}

.parallax {
  background-image: url("../../images/parallax-7.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 30px;
}

.contact {
  background: var(--blue);
  padding: 8rem 0;

  & h1 {
    color: var(--white);
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 5rem;
    padding: 0;
    text-align: center;
  }
}
