@import '../assets/styles/config.css';

.parallax {
  background-image: url('../../images/parallax-7.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 30px;
}

.contact {
  padding: 8rem 0;
  background-color: var(--blue);
  background-image: var(--pattern);

  & h1 {
    color: var(--white);
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 5rem;
    padding: 0;
    text-align: center;
  }
}
