@import '../../assets/styles/config.css';

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 500;
  opacity: 0.97;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 30px;

  &.justLogo {
    z-index: 1000;
    justify-content: center;
  }
}

.logo {
  position: absolute;
  cursor: pointer;
  height: 33.3px;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  display: flex;
  justify-content: flex-end;

  &.home {
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
  }
}

@media (--small-viewport) {
  .link {
    display: flex;
  }
}
