@import "../../assets/styles/config.css";

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 500;
  opacity: 0.97;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.link {
  display: none;
  position: relative;
  height: 60px;
  align-items: center;
  transition: all 300ms ease;
  cursor: pointer;

  &::after {
    position: absolute;
    top: auto;
    bottom: -4px;
    background: var(--blue);
    content: "";
    height: 4px;
    width: 100%;
    left: 0;
    z-index: 203;
    opacity: 0;
    transition: all 300ms ease;
  }

  & .linkText {
    padding: 0 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }

  &:first-of-type {
    & .linkText {
      border-left: none;
    }
  }

  &:last-of-type {
    & .linkText {
      border-right: none;
    }
  }
}

.link:hover,
.link:global(.active) {
  color: var(--blue);

  &::after {
    opacity: 1;
  }
}

@media (--small-viewport) {
  .link {
    display: flex;
  }
}
