@import "../../assets/styles/config.css";

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 500;
  opacity: 0.97;
  background: white;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
}

.link {
  font-family: Nunito;
  margin: 0 10px;
}
