@import '../../assets/styles/config.css';

.footer {
  margin: 8rem auto 5rem !important;

  & .footerText {
    text-align: center;
    font-size: 13px;
    color: color(var(--text) tint(60%));

    & a {
      color: color(var(--text) tint(60%));
      text-decoration: none;

      &:hover {
        color: color(var(--text) tint(40%));
      }
    }
  }
}
