:root {
  --blue: #09c;
  --dark-blue: #004777;
  --light-blue: #b9d6f2;
  --yellow: #f9dc5c;
  --red: #ff005c;
  --white: #fff;
  --text: #292f33;
  --black: #000;
  --pattern: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23eeeeee' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");

  @custom-media --larger-viewport (min-width: 1400px);
  @custom-media --large-viewport (min-width: 1050px);
  @custom-media --small-viewport (min-width: 940px);
  @custom-media --smaller-viewport (min-width: 800px);
  @custom-media --tiny-viewport (min-width: 600px);
  @custom-media --mobile-viewport (min-width: 480px);
}
