:root {
  --blue: #09c;
  --dark-blue: #004777;
  --dark-blue2: #3E6680;
  --white: #fff;
  --text: #292f33;
  --black: #000;

  @custom-media --larger-viewport (min-width: 1400px);
  @custom-media --large-viewport (min-width: 1050px);
  @custom-media --small-viewport (min-width: 940px);
  @custom-media --smaller-viewport (min-width: 800px);
  @custom-media --tiny-viewport (min-width: 600px);
  @custom-media --mobile-viewport (min-width: 480px);
}
