---
bodyClass: "archive tax-portfolio-types term-design term-5 style-simple layout-full-width mobile-tb-left button-flat if-overlay header-fixed header-fw minimalist-header sticky-header sticky-white ab-hide subheader-title-left menuo-right footer-copy-center"
layout: category
---

    </header>
    <!--Subheader area - only for certain pages -->
    <div id="Subheader">
      <div class="container">
        <div class="column one">
          <h1 class="title">Photography</h1>
          <!--BreadCrumbs area-->
          <ul class="breadcrumbs no-link">
            <li>
              <a href="/">Home</a><span><i class="icon-right-open"></i></span>
            </li>
            <li>
              <a href="/category-photography">Photography</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Content -->
  <div id="Content">
    <div class="content_wrapper clearfix">
      <div class="sections_group">
        <div class="extra_content">
          <div class="section the_content no_content">
            <div class="section_wrapper">
              <div class="the_content_wrapper"></div>
            </div>
          </div>
        </div>
        <!-- Portfolio filters -->
        <div class="section section-filters">
          <div class="section_wrapper clearfix">
            <!--  Filter Area -->
            <div id="Filters" class="column one">
              <ul class="filters_buttons">
                <li class="label">
                  Filter by
                </li>
                <li class="categories">
                  <a class="open" href="#"><i class="icon-docs"></i>Categories<i class="icon-down-dir"></i></a>
                </li>
                <li class="reset">
                  <a class="close" data-rel="*" href="#"><i class="icon-cancel"></i> Show all</a>
                </li>
              </ul>
              <div class="filters_wrapper">
                <ul class="categories">
                  <li class="cat-item cat-item-5">
                    <a href="/category-design" title="View all posts filed under Design">Design</a>
                  </li>
                  <li class="cat-item cat-item-4 current-cat">
                    <a href="/category-photography" title="View all posts filed under Photography">Photography</a>
                  </li>
                  <li class="close">
                    <a href="#"><i class="icon-cancel"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section_wrapper clearfix">
            <!-- One full width row-->
            <div class="column one column_portfolio">
              <div class="portfolio_wrapper isotope_wrapper">
                <ul class="portfolio_group lm_wrapper isotope grid col-2">
                  <!-- Portfolio item -->
                  <li class="portfolio-item isotope-item category-design category-photography has-thumbnail">
                    <div class="portfolio-item-fw-bg">
                      <div class="portfolio-item-fill"></div>
                      <div class="portfolio-item-fw-wrapper">
                        <div class="list_style_header">
                          <h3 class="entry-title"><a class="link" href="/portfolio-item-1">Aliquam eratac</a></h3>
                          <div class="links_wrapper">
                            <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i class="icon-up-open"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                            <a
                            href="/portfolio-item-1" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Read more</span></a>
                          </div>
                        </div>
                        <div class="image_frame scale-with-grid">
                          <div class="image_wrapper">
                            <a href="/portfolio-item-1">
                              <div class="mask"></div><img width="960" height="700" src="/images/home_profile_portfolio1s-960x700.jpg" class="scale-with-grid wp-post-image" alt="home_profile_portfolio1s" /></a>
                            <div class="image_links double">
                              <a href="/images/home_profile_portfolio1s.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="/portfolio-item-1" class="link"><i class="icon-link"></i></a>
                            </div>
                          </div>
                        </div>
                        <div class="desc">
                          <div class="title_wrapper">
                            <h5 class="entry-title"><a class="link" href="/portfolio-item-1">Aliquam eratac</a></h5>
                            <div class="button-love">
                              <a href="#" class="mfn-love " data-id="2189"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">55</span></a>
                            </div>
                          </div>
                          <div class="details-wrapper">
                            <dl>
                              <dt>
                                  Date
                                </dt>
                              <dd>
                                May 1, 2014
                              </dd>
                              <dd></dd>
                            </dl>
                          </div>
                          <div class="desc-wrapper">
                            Aenean bibendum. Nulla augue commodo tincidunt vehicula, dui nulla, faucibus orci ac nisl. Cras volutpat massa augue, congue dolor. Pellentesque molestie tincidunt. Maecenas nec velit. Donec elementum leo. Cras elementum.
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- Portfolio item -->
                  <li class="portfolio-item isotope-item category-design category-photography has-thumbnail">
                    <div class="portfolio-item-fw-bg">
                      <div class="portfolio-item-fill"></div>
                      <div class="portfolio-item-fw-wrapper">
                        <div class="list_style_header">
                          <h3 class="entry-title"><a class="link" href="/portfolio-item-2">Curabitur et ligula</a></h3>
                          <div class="links_wrapper">
                            <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i class="icon-up-open"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                            <a
                            href="/portfolio-item-2" class="button button_left button_theme button_js"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Read more</span></a>
                          </div>
                        </div>
                        <div class="image_frame scale-with-grid">
                          <div class="image_wrapper">
                            <a href="/portfolio-item-2">
                              <div class="mask"></div><img width="960" height="700" src="/images/home_profile_portfolio2s-960x700.jpg" class="scale-with-grid wp-post-image" alt="home_profile_portfolio2s" /></a>
                            <div class="image_links double">
                              <a href="/images/home_profile_portfolio2s.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="/portfolio-item-2" class="link"><i class="icon-link"></i></a>
                            </div>
                          </div>
                        </div>
                        <div class="desc">
                          <div class="title_wrapper">
                            <h5 class="entry-title"><a class="link" href="/portfolio-item-2">Curabitur et ligula</a></h5>
                            <div class="button-love">
                              <a href="#" class="mfn-love " data-id="2187"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">90</span></a>
                            </div>
                          </div>
                          <div class="details-wrapper">
                            <dl>
                              <dt>
                                  Date
                                </dt>
                              <dd>
                                April 29, 2014
                              </dd>
                              <dd></dd>
                            </dl>
                          </div>
                          <div class="desc-wrapper">
                            Curae, Mauris eget wisi at magna felis neque, mattis sem. Etiam tellus. Proin nunc neque, malesuada aliquet. Vestibulum ante ipsum primis in nunc. Nunc sed tellus hendrerit tellus non mi.
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
