---
title: MCT
bodyClass: "template-slider style-simple layout-full-width one-page mobile-tb-left button-flat if-overlay no-content-padding header-fixed header-fw minimalist-header sticky-header sticky-white ab-hide subheader-title-left menuo-right footer-copy-center"
layout: homepage
---

      <!-- Revolution slider area-->
      <div class="mfn-main-slider">
        <div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
          <div id="rev_slider_1_2" class="rev_slider fullwidthabanner" data-version="5.1">
            <ul>
              <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="">
                <img src="images/home_profile_slider2.png" alt="" width="1920" height="920" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <div class="tp-caption mfnrs_profile_large_dark tp-resizeme" id="slide-1-layer-1" data-x="100" data-y="center" data-voffset="-140" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:600;e:Power2.easeInOut;"
                data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; line-height: 50px;">
                  HELLO
                  <br> MY NAME IS
                  <br> MARIA TEIXEIRA
                </div>
                <div class="tp-caption mfnrs_profile_medium_dark tp-resizeme" id="slide-1-layer-2" data-x="100" data-y="center" data-voffset="" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:800;e:Power2.easeInOut;"
                data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
                  Lorem ipsum dolor sit amet consectetur
                  <br> adipiscing elitedni
                </div>
                <div class="tp-caption mfnrs_profile_button rev-btn " id="slide-1-layer-3" data-x="100" data-y="center" data-voffset="100" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
                data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);cursor:pointer;" data-transform_in="y:50px;opacity:0;s:1100;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="500" data-splitin="none" data-splitout="none"
                data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#"}]' data-responsive_offset="on" style="z-index: 7; white-space: nowrap;padding:15px 30px 15px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                  ABOUT ME
                </div>
              </li>
            </ul>
            <div class="tp-bannertimer tp-bottom flv_viz_hid"></div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <!-- Main Content -->
  <div id="Content">
    <div class="content_wrapper clearfix">
      <div class="sections_group">
        <div class="entry-content">
          <div class="section mcb-section " id="about" style="padding-top:80px; padding-bottom:0px; ">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one clearfix">
                <!-- One Full Row-->
                <div class="column mcb-column one column_column column-margin-20px">
                  <div class="column_attr animate" data-anim-type="fadeIn">
                    <h2>SUMMARY ABOUT ME</h2>
                  </div>
                </div>
                <!-- One Full Row-->
                <div class="column mcb-column one column_divider ">
                  <hr class="hrmargin_b_40" />
                </div>
              </div>
              <!-- One Second (1/2) Column -->
              <div class="wrap mcb-wrap one-second clearfix" style="padding:0 2% 0 0; ">
                <!-- One Full Row-->
                <div class="column mcb-column one column_column">
                  <div class="column_attr">
                    <p class="big">
                      <span class="dropcap size-2">L</span> nsert your content hereorem ipsum dolor sit amet, consectetur adipisici aliquip elit, sed do eiusmod tempor incididunt ut labore ete velit esse cillum ore dolore magna aliqua. Ut enim ad minim
                      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exo eiusmod tempor incididunt ut labo
                    </p>
                    <hr class="no_line hrmargin_b_40" />
                    <h5>MY EDUCATION</h5>
                    <p>
                      <span class="themecolor">Sed ut perspiciatis unde omnis</span> iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                      sunt eaccusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
                    </p>
                  </div>
                </div>
              </div>
              <!-- One Second (1/2) Column -->
              <div class="wrap mcb-wrap one-second clearfix" style="padding:0 0 0 2%; ">
                <!-- One Full Row-->
                <div class="column mcb-column one column_column">
                  <div class="column_attr">
                    <h5>MY CAREER</h5>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehende.
                    </p>
                    <p>
                      Nemo enim ipsam voluptatem que et dolore magnamm volupm volup aliquam quaerat voluptatem.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section " id="achievements" style="padding-top:30px; padding-bottom:0px; ">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one column-margin-0px clearfix" style="padding:50px 30px 35px; background-color:#f3f3f3">
                <!-- One Full Row-->
                <div class="column mcb-column one column_column">
                  <div class="column_attr align_center">
                    <h2>MY ACHIEVEMENTS</h2>
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one clearfix" style="padding:60px 0 20px; background-color:#f9f9f9">
                <!-- One Third (1/3) Column -->
                <div class="column mcb-column one-third column_quick_fact ">
                  <!-- Counter area-->
                  <div class="quick_fact animate-math">
                    <div class="number-wrapper">
                      <span class="number" data-to="142">142</span>
                    </div>
                    <h3 class="title">articles</h3>
                    <hr class="hr_narrow" />
                    <div class="desc">
                      <p style="margin: 0 10%;">
                        Habitasse platea dictumst. Ut tellus sem, suscipit ut enim id.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- One Third (1/3) Column -->
                <div class="column mcb-column one-third column_quick_fact ">
                  <!-- Counter area-->
                  <div class="quick_fact animate-math">
                    <div class="number-wrapper">
                      <span class="number" data-to="89">89</span>
                    </div>
                    <h3 class="title">projects</h3>
                    <hr class="hr_narrow" />
                    <div class="desc">
                      <p style="margin: 0 10%;">
                        Donec ultricies iaculis nisi quis posuere. Vestibulum luctus.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- One Third (1/3) Column -->
                <div class="column mcb-column one-third column_quick_fact ">
                  <!-- Counter area-->
                  <div class="quick_fact animate-math">
                    <div class="number-wrapper">
                      <span class="number" data-to="7">7</span>
                    </div>
                    <h3 class="title">years of experience</h3>
                    <hr class="hr_narrow" />
                    <div class="desc">
                      <p style="margin: 0 10%;">
                        Cras mollis metus sit amet cursus suscipit. Integer commodo.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section " id="work" style="padding-top:80px; padding-bottom:0px; ">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one clearfix">
                <!-- One Full Row-->
                <div class="column mcb-column one column_column column-margin-20px">
                  <div class="column_attr">
                    <h2>MY LATEST WORK</h2>
                  </div>
                </div>
                <!-- One Full Row-->
                <div class="column mcb-column one column_divider ">
                  <hr class="hrmargin_b_40" />
                </div>
                <!-- One Full Row-->
                <div class="column mcb-column one column_column">
                  <div class="column_attr">
                    <p>
                      Maecenas quis justo at neque venenatis sagittis. Cras felis augue, malesuada quis iaculis eu, posuere vitae ante. Etiam ut malesuada massa. Maecenas massa nunc. Ut egestas auctor felis, rhoncus ornare orci lacinia a. Proin blandit lorem finibus tincidunt.
                    </p>
                  </div>
                </div>
              </div>
              <div class="wrap mcb-wrap one clearfix">
                <!-- One Full Row-->
                <div class="column mcb-column one column_portfolio ">
                  <div class="column_filters">
                    <div class="portfolio_wrapper isotope_wrapper ">
                      <ul class="portfolio_group lm_wrapper isotope col-3 grid">
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-design category-photography has-thumbnail">
                          <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fill"></div>
                            <div class="portfolio-item-fw-wrapper">
                              <div class="list_style_header">
                                <h3 class="entry-title">
                                  <a class="link" href="/portfolio-item-1">Aliquam eratac</a>
                                </h3>
                                <div class="links_wrapper">
                                  <a href="#" class="button button_js portfolio_prev_js">
                                    <span class="button_icon">
                                      <i class="icon-up-open"></i>
                                    </span>
                                  </a>
                                  <a href="#" class="button button_js portfolio_next_js">
                                    <span class="button_icon">
                                      <i class="icon-down-open"></i>
                                    </span>
                                  </a>
                                  <a href="/portfolio-item-1" class="button button_left button_theme button_js">
                                    <span class="button_icon">
                                      <i class="icon-link"></i>
                                    </span>
                                    <span class="button_label">Read more</span>
                                  </a>
                                </div>
                              </div>
                              <div class="image_frame scale-with-grid">
                                <div class="image_wrapper">
                                  <a href="portfolio-item-1">
                                    <div class="mask"></div>
                                    <img width="960" height="700" src="images/home_profile_portfolio1s-960x700.jpg" class="scale-with-grid wp-post-image" alt="home_profile_portfolio1s" />
                                  </a>
                                  <div class="image_links double">
                                    <a href="/images/home_profile_portfolio1s.jpg" class="zoom" rel="prettyphoto">
                                      <i class="icon-search"></i>
                                    </a>
                                    <a href="/portfolio-item-1" class="link">
                                      <i class="icon-link"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <div class="desc">
                                <div class="title_wrapper">
                                  <h5 class="entry-title">
                                    <a class="link" href="/portfolio-item-1">Aliquam eratac</a>
                                  </h5>
                                  <div class="button-love">
                                    <a href="#" class="mfn-love " data-id="2189">
                                      <span class="icons-wrapper">
                                        <i class="icon-heart-empty-fa"></i>
                                        <i class="icon-heart-fa"></i>
                                      </span>
                                      <span class="label">54</span>
                                    </a>
                                  </div>
                                </div>
                                <div class="details-wrapper">
                                  <dl>
                                    <dt>
                                      Date
                                    </dt>
                                    <dd>
                                      May 1, 2014
                                    </dd>
                                    <dd></dd>
                                  </dl>
                                </div>
                                <div class="desc-wrapper">
                                  Aenean bibendum. Nulla augue commodo tincidunt vehicula, dui nulla, faucibus orci ac nisl. Cras volutpat massa augue, congue dolor. Pellentesque molestie tincidunt. Maecenas nec velit. Donec elementum leo. Cras elementum.
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-design category-photography has-thumbnail">
                          <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fill"></div>
                            <div class="portfolio-item-fw-wrapper">
                              <div class="list_style_header">
                                <h3 class="entry-title">
                                  <a class="link" href="/portfolio-item-2">
                                    Curabitur et ligula
                                  </a>
                                </h3>
                                <div class="links_wrapper">
                                  <a href="#" class="button button_js portfolio_prev_js">
                                    <span class="button_icon">
                                      <i class="icon-up-open"></i>
                                    </span>
                                  </a>
                                  <a href="#" class="button button_js portfolio_next_js">
                                    <span class="button_icon">
                                      <i class="icon-down-open"></i>
                                    </span>
                                  </a>
                                  <a href="/portfolio-item-2" class="button button_left button_theme button_js">
                                    <span class="button_icon">
                                      <i class="icon-link"></i>
                                    </span>
                                    <span class="button_label">Read more</span>
                                  </a>
                                </div>
                              </div>
                              <div class="image_frame scale-with-grid">
                                <div class="image_wrapper">
                                  <a href="portfolio-item-2">
                                    <div class="mask"></div>
                                    <img width="960" height="700" src="/images/home_profile_portfolio2s-960x700.jpg" class="scale-with-grid wp-post-image" alt="home_profile_portfolio2s" />
                                  </a>
                                  <div class="image_links double">
                                    <a href="/images/home_profile_portfolio2s.jpg" class="zoom" rel="prettyphoto">
                                      <i class="icon-search"></i>
                                    </a>
                                    <a href="/portfolio-item-2" class="link">
                                      <i class="icon-link"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <div class="desc">
                                <div class="title_wrapper">
                                  <h5 class="entry-title">
                                    <a class="link" href="/portfolio-item-2">
                                      Curabitur et ligula
                                    </a>
                                  </h5>
                                  <div class="button-love">
                                    <a href="#" class="mfn-love " data-id="2187">
                                      <span class="icons-wrapper">
                                        <i class="icon-heart-empty-fa"></i>
                                        <i class="icon-heart-fa"></i>
                                      </span>
                                      <span class="label">89</span>
                                    </a>
                                  </div>
                                </div>
                                <div class="details-wrapper">
                                  <dl>
                                    <dt>
                                      Date
                                    </dt>
                                    <dd>
                                      April 29, 2014
                                    </dd>
                                    <dd></dd>
                                  </dl>
                                </div>
                                <div class="desc-wrapper">
                                  Curae, Mauris eget wisi at magna felis neque, mattis sem. Etiam tellus. Proin nunc neque, malesuada aliquet. Vestibulum ante ipsum primis in nunc. Nunc sed tellus hendrerit tellus non mi.
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <!-- Portfolio item -->
                        <li class="portfolio-item isotope-item category-design has-thumbnail">
                          <div class="portfolio-item-fw-bg">
                            <div class="portfolio-item-fill"></div>
                            <div class="portfolio-item-fw-wrapper">
                              <div class="list_style_header">
                                <h3 class="entry-title">
                                  <a class="link" href="/portfolio-item-3">
                                    Quisque lorem tortor
                                  </a>
                                </h3>
                                <div class="links_wrapper">
                                  <a href="#" class="button button_js portfolio_prev_js">
                                    <span class="button_icon">
                                      <i class="icon-up-open"></i>
                                    </span>
                                  </a>
                                  <a href="#" class="button button_js portfolio_next_js">
                                    <span class="button_icon">
                                      <i class="icon-down-open"></i>
                                    </span>
                                  </a>
                                  <a href="/portfolio-item-3" class="button button_left button_theme button_js">
                                    <span class="button_icon">
                                      <i class="icon-link"></i>
                                    </span>
                                    <span class="button_label">Read more</span>
                                  </a>
                                </div>
                              </div>
                              <div class="image_frame scale-with-grid">
                                <div class="image_wrapper">
                                  <a href="/portfolio-item-3">
                                    <div class="mask"></div>
                                    <img width="960" height="700" src="/images/home_profile_portfolio3s-960x700.jpg" class="scale-with-grid wp-post-image" alt="home_profile_portfolio3s" />
                                  </a>
                                  <div class="image_links double">
                                    <a href="/images/home_profile_portfolio3s.jpg" class="zoom" rel="prettyphoto">
                                      <i class="icon-search"></i>
                                    </a>
                                    <a href="/portfolio-item-3" class="link">
                                      <i class="icon-link"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <div class="desc">
                                <div class="title_wrapper">
                                  <h5 class="entry-title">
                                    <a class="link" href="/portfolio-item-3">Quisque lorem tortor</a>
                                  </h5>
                                  <div class="button-love">
                                    <a href="#" class="mfn-love " data-id="2188">
                                      <span class="icons-wrapper">
                                        <i class="icon-heart-empty-fa"></i>
                                        <i class="icon-heart-fa"></i>
                                      </span>
                                      <span class="label">64</span>
                                    </a>
                                  </div>
                                </div>
                                <div class="details-wrapper">
                                  <dl>
                                    <dt>
                                      Date
                                    </dt>
                                    <dd>
                                      April 30, 2014
                                    </dd>
                                    <dd></dd>
                                  </dl>
                                </div>
                                <div class="desc-wrapper">
                                  Lorem ipsum dolor sit amet diam id nonummy ligula. Sed a erat. Duis neque vitae ultrices bibendum, sem in quam. Fusce ullamcorper. Suspendisse rhoncus ut, faucibus et, eros. Phasellus vestibulum.
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section " id="skills" style="padding-top:80px; padding-bottom:30px; background-color:#fafafa; background-image:url(images/home_profile_bg_section1.jpg); background-repeat:no-repeat; background-position:center top; background-attachment:fixed; background-size:cover; -webkit-background-size:cover"
          data-enllax-ratio="-0.5">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one clearfix">
                <!-- One Full Row-->
                <div class="column mcb-column one column_column column-margin-20px">
                  <div class="column_attr">
                    <h2>ABOUT MY SKILLS</h2>
                  </div>
                </div>
                <!-- One Full Row-->
                <div class="column mcb-column one column_divider ">
                  <hr class="hrmargin_b_40" />
                </div>
              </div>
              <!-- One Second (1/2) Column -->
              <div class="wrap mcb-wrap one-second clearfix" style="padding:0 2% 0 0; ">
                <!-- One Full Row-->
                <div class="column mcb-column one column_column column-margin-10px">
                  <div class="column_attr">
                    <h4>COMPUTER</h4>
                    <p>
                      Nunc rhoncus lorem metus, at rhoncus nulla suscipit vitae? Aenean pretium semper condimentum! Nullam varius nibh et nisi porta consequat. In at scelerisque sed.
                    </p>
                  </div>
                </div>
                <!-- One Full Row-->
                <div class="column mcb-column one column_progress_bars ">
                  <div class="progress_bars">
                    <ul class="bars_list">
                      <li>
                        <h6>Aliquam sed
                          <span class="label">60
                            <em>%</em>
                          </span>
                        </h6>
                        <div class="bar">
                          <span class="progress" style="width:60%"></span>
                        </div>
                      </li>
                      <li>
                        <h6>Laoreet ligula
                          <span class="label">47
                            <em>%</em>
                              </span>
                          </h6>
                        <div class="bar">
                          <span class="progress" style="width:47%"></span>
                        </div>
                      </li>
                      <li>
                        <h6>Convallis purus
                          <span class="label">72
                            <em>%</em>
                          </span>
                        </h6>
                        <div class="bar">
                          <span class="progress" style="width:72%"></span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- One Full Row-->
                <div class="column mcb-column one column_column column-margin-10px">
                  <div class="column_attr">
                    <h4>OTHER</h4>
                    <p>
                      Quisque consectetur dictum mauris id consequat
                    </p>
                  </div>
                </div>
                <!-- One Second (1/2) Column -->
                <div class="column mcb-column one-second column_column">
                  <div class="column_attr">
                    <ul class="list_check">
                      <li>
                        Suspendisse a pellentesque dui, non felis.
                      </li>
                      <li>
                        Quisque lorem tortor sed.
                      </li>
                      <li>
                        Cursus quisque et risus.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- One Second (1/2) Column -->
                <div class="column mcb-column one-second column_column">
                  <div class="column_attr">
                    <ul class="list_mixed">
                      <li class="list_idea">
                        Quisque cursus et, porttitor risus.
                      </li>
                      <li class="list_check">
                        Nulla ipsum dolor lacus, suscipit adipiscing.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- One Second (1/2) Column -->
              <div class="wrap mcb-wrap one-second clearfix" style="padding:0 0 0 2%; ">
                <!-- One Full Row-->
                <div class="column mcb-column one column_column column-margin-10px">
                  <div class="column_attr">
                    <h4>COMMUNICATION</h4>
                    <p>
                      Quisque lobortis ultricies lacus vel vulputate. Sed non nulla vitae elit accumsan lacinia ac porta tortor! Pellentesque laoreet a leo quis porta nullam sodales.
                    </p>
                  </div>
                </div>
                <!-- One Second (1/2) Column -->
                <div class="column mcb-column one-second column_chart ">
                  <div class="chart_box">
                    <div class="chart" data-percent="70" data-color="#0099CC">
                      <div class="num">
                        70%
                      </div>
                    </div>
                    <div class="big">
                      <p>
                        Aliquam eratur
                      </p>
                    </div>
                  </div>
                </div>
                <!-- One Second (1/2) Column -->
                <div class="column mcb-column one-second column_chart ">
                  <div class="chart_box">
                    <div class="chart" data-percent="82" data-color="#0099CC">
                      <div class="num">
                        82%
                      </div>
                    </div>
                    <div class="big">
                      <p>
                        Curabitur ipsum
                      </p>
                    </div>
                  </div>
                </div>
                <!-- One Full Row-->
                <div class="column mcb-column one column_divider ">
                  <hr class="no_line" />
                </div>
                <!-- One Second (1/2) Column -->
                <div class="column mcb-column one-second column_chart ">
                  <div class="chart_box">
                    <div class="chart" data-percent="55" data-color="#0099CC">
                      <div class="num">
                        55%
                      </div>
                    </div>
                    <div class="big">
                      <p>
                        Tincidunt mauris
                      </p>
                    </div>
                  </div>
                </div>
                <!-- One Second (1/2) Column -->
                <div class="column mcb-column one-second column_chart ">
                  <div class="chart_box">
                    <div class="chart" data-percent="42" data-color="#0099CC">
                      <div class="num">
                        42%
                      </div>
                    </div>
                    <div class="big">
                      <p>
                        Tincidunt mauris
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section " id="contact" style="padding-top:80px; padding-bottom:30px; ">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one clearfix">
                <!-- One Full Row-->
                <div class="column mcb-column one column_column">
                  <div class="column_attr align_center">
                    <h2>LETS MEET AND TALK
                      <br> CALL ME +34 004 555 043
                    </h2>
                    <hr class="no_line hrmargin_b_40" />
                    <a class="button button_large button_js" href="#">
                      <span class="button_label">Send me an email</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section mcb-section " style="padding-top:80px; padding-bottom:30px; background-color:#0099CC">
            <div class="section_wrapper mcb-section-inner">
              <div class="wrap mcb-wrap one clearfix">
                <!-- One Sixth (1/6) Column -->
                <div class="column mcb-column one-sixth column_placeholder">
                  <div class="placeholder">
                    &nbsp;
                  </div>
                </div>
                <!-- Two Third (2/3) Column -->
                <div class="column mcb-column two-third column_column">
                  <div class="column_attr align_center">
                    <h2 style="color: #fff;">SEND A MESSAGE</h2>
                    <hr class="no_line hrmargin_b_40" />
                    <div role="form" class="wpcf7" id="wpcf7-f10-p2-o1" lang="en-US" dir="ltr">
                      <div id="contactWrapper">
                        <form id="contactform">
                          <!-- One Second (1/2) Column -->
                          <div class="column one-second">
                            <input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" />
                          </div>
                          <!-- One Second (1/2) Column -->
                          <div class="column one-second">
                            <input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" />
                          </div>
                          <div class="column one">
                            <input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" />
                          </div>
                          <div class="column one">
                            <textarea placeholder="Message" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
                          </div>
                          <div class="column one">
                            <input type="button" value="Send A Message" id="submit" onClick="return check_values();">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section the_content no_content">
            <div class="section_wrapper">
              <div class="the_content_wrapper"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
