---
bodyClass: "single single-portfolio postid-2187 template-slider style-simple layout-full-width mobile-tb-left button-flat if-overlay header-fixed header-fw minimalist-header sticky-header sticky-white ab-hide subheader-title-left menuo-right footer-copy-center"
layout: portfolio-item
---

      <!-- Revolution slider area-->
      <div class="mfn-main-slider">
        <div id="rev_slider_2_2_wrapper" class="rev_slider_wrapper fullscreen-container" style="background-color:transparent;padding:0px;">
          <div id="rev_slider_2_2" class="rev_slider fullscreenbanner" data-version="5.1">
            <ul>
              <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/images/home_profile_portfolio1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide"
              data-description="">
                <img src="/plugins/rs-plugin/assets/images/dummy.png " alt="" width="1920" height="1200" data-lazyload="/images/home_profile_portfolio1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              </li>
              <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/images/home_profile_portfolio2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide"
              data-description="">
                <img src="/plugins/rs-plugin/assets/images/dummy.png " alt="" width="1920" height="1200" data-lazyload="/images/home_profile_portfolio2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              </li>
            </ul>
            <div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>
          </div>

        </div>
      </div>
    </header>
  </div>
  <!-- Main Content -->
  <div id="Content">
    <div class="content_wrapper clearfix">
      <div class="sections_group">
        <div class="no-share no-img portfolio type-portfolio has-post-thumbnail  portfolio-types-design portfolio-types-photography">
          <div class="section section-portfolio-header">
            <div class="section_wrapper clearfix">
              <!-- Posts Navigation -->
              <!-- One full width row-->
              <div class="column one post-nav">
                <a class="fixed-nav fixed-nav-next " href="/portfolio-item-2"><span class="arrow"><i class="icon-right-open-big"></i></span>
                  <div class="photo"><img width="80" height="80" src="/images/home_profile_portfolio3s-80x80.jpg" class="attachment-blog-navi wp-post-image" alt="home_profile_portfolio3s" />
                  </div>
                  <div class="desc">
                    <h6>Quisque lorem tortor</h6><span class="date"><i class="icon-clock"></i>April 30, 2014</span>
                  </div>
                </a>
                <ul class="next-prev-nav">
                  <li class="next">
                    <a class="button button_js" href="/portfolio-item-2"><span class="button_icon"><i class="icon-right-open"></i></span></a>
                  </li>
                </ul>
              </div>
              <!-- Post Header-->
              <!-- One full width row-->
              <div class="column one post-header">
                <div class="button-love">
                  <a href="#" class="mfn-love " data-id="2187"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">89</span></a>
                </div>
                <div class="title_wrapper">
                  <h1 class="entry-title">Curabitur et ligula</h1>
                  <div class="post-meta clearfix">
                    <div class="author-date">
                      <span class="author">Published by <i class="icon-user"></i> <a href="#">admin</a></span><span class="date">at <i class="icon-clock"></i>
                        <time class="entry-date" datetime="2014-04-29T12:00:53+00:00" itemprop="datePublished" pubdate>
                          April 29, 2014
                        </time>
                      </span>
                    </div>
                    <div class="category">
                      <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                      <div class="cat-wrapper">
                        <ul>
                          <li>
                            <a href="/category-design">Design</a>
                          </li>
                          <li>
                            <a href="/category-photography">Photography</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Post Featured Element (image / video / gallery)-->
              <!-- One full width row-->
              <div class="column one single-photo-wrapper"></div>
              <!-- One full width row-->
              <div class="column one project-description">
                <ul>
                  <li class="one-third">
                    <span class="label">Date</span>April 29, 2014
                  </li>
                  <li>
                    <span class="label">Task</span>Suspendisse fermentum erat. Duis consequat tortor. Mauris ut tellus a dolor.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="entry-content">
            <div class="section mcb-section sections_style_0 ">
              <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap one clearfix">
                  <!-- Two Fifth (2/5) Column -->
                  <div class="column mcb-column two-fifth column_column">
                    <div class="column_attr">
                      <p class="big">
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas, ultricies eget, tempor sit amet suada fames ac turpis egesta gilla semper.
                      </p>
                      <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum torto mes ac turpis egest loremligular quam, feugiat vitae, ultricies eget, tempor sit amet ante. Donec eu lib ero sit amet quam eges.
                      </p>
                    </div>
                  </div>
                  <!-- Two Fifth (2/5) Column -->
                  <div class="column mcb-column two-fifth column_column">
                    <div class="column_attr">
                      <p>
                        Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volut
                      </p>
                      <p>
                        Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor.
                      </p>
                    </div>
                  </div>
                  <div class="column mcb-column one-fifth column_column">
                    <div class="column_attr">
                      <h5 class="hrmargin_b_5">Client:</h5>
                      <p>
                        <i class="icon-vcard"></i> Muffin Group
                      </p>
                      <h5 class="hrmargin_b_5">Date:</h5>
                      <p>
                        <i class="icon-back-in-time"></i> May 13, 2014
                      </p>
                      <h5 class="hrmargin_b_5">Website:</h5>
                      <p>
                        <i class="icon-window"></i><a href="http://themeforest.net/" target="_blank">View website</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section the_content no_content">
              <div class="section_wrapper">
                <div class="the_content_wrapper"></div>
              </div>
            </div>
          </div>
          <div class="section section-post-footer">
            <div class="section_wrapper clearfix">
              <!-- One full width row-->
              <div class="column one post-pager"></div>
            </div>
          </div>
          <!-- Related posts area-->
          <div class="section section-post-related">
            <div class="section_wrapper clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
